# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env

# SQLite database
*.sqlite
*.sqlite3

# System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
